<div class="row">
	<div class="span12">
		<h2>Import Orders From a Tab File</h2>

		<%= form_tag order_imports_path, multipart: true do %>
		  <%= file_field_tag :import_file %>
		  <%= hidden_field_tag :import_record_type, "order" %>
		  <%= submit_tag "Import File", :class => "btn btn-primary" %>
		<% end %>		
	</div>
</div>

